.ToDo {
    min-height: 100vh;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background: url('../images/black_white.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    /* background: #242424; */
    background: #303841;
    position: relative;
}
.ToDo h2 {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    text-transform: uppercase;
    color: #f6c90e;
}
.ToDo .circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    -webkit-clip-path: circle(50% at 24% 93%);
    clip-path: circle(50% at 24% 93%);
    background: #eeeeee;
  }