
.big_container .content {
    /* height: 55%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.big_container .content .cards_container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}
.big_container .content .cards_container .cards {
    height: 125px;
    width: 125px;
    margin: 3px auto;
    border-radius: 20px;
    background: #383838;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
}
.big_container .content .cards_container .cards h2{
    font-size: 14px;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000000;
}
.icons {
    height: 25px;
    width: 25px;
}
